h1{
  text-align:left;
  margin-left: 250px;
}

#game_board{
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
    float:left;
    width:15px;
    height:15px;
    margin-right:5px;
    margin-bottom:5px;
    background-color:#000 ;
}

.box:hover{
  cursor: pointer;
}


.box.active{
  background-color: #000FFF
}
#game_controls{
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
}
